@charset "UTF-8"; /*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, footer, header, nav, section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption, figure, main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b, strong {
    font-weight: inherit
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details, menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.15;
    color: #303133;
    background-color: #fff
}

a {
    color: #fdc733;
    text-decoration: none
}

a:focus, a:hover {
    color: #000000;
    text-decoration: underline
}

img {
    vertical-align: middle
}

:focus, :hover {
    outline: 0
}

[v-cloak] {
    display: none
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.fr {
    float: right !important
}

.fl {
    float: left !important
}

.fi {
    float: initial !important
}

.m-auto {
    margin: auto !important
}

.mt-auto {
    margin-top: auto !important
}

.mr-auto {
    margin-right: auto !important
}

.mb-auto {
    margin-bottom: auto !important
}

.ml-auto {
    margin-left: auto !important
}

.text-right {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

.text-left {
    text-align: left !important
}

.w-percent-100 {
    width: 100% !important
}

.base-line-height {
    line-height: 1.15 !important
}

.aui-wrapper .el-card + .el-card {
    margin-top: 15px
}

.aui-wrapper .el-input__prefix .el-input__icon {
    display: inline-block;
    vertical-align: middle
}

.aui-wrapper .el-date-editor .el-range-separator {
    width: 8%
}

.aui-wrapper .el-table th {
    color: #303133;
    background-color: #f5f7fa
}

.aui-wrapper .el-pagination {
    margin-top: 15px;
    text-align: right
}

.aui-wrapper .el-table__expand-icon {
    display: inline-block;
    width: 14px;
    vertical-align: middle;
    margin-right: 5px
}

.icon-svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: middle;
    overflow: hidden
}

.aui-card--fill .el-card__header {
    height: 60px;
    line-height: 24px
}

.aui-card__title {
    font-size: 16px
}

.aui-form__label-icon {
    display: inline-block;
    margin: 0 3px;
    vertical-align: middle;
    font-size: 18px;
    color: #909399
}

.aui-button--dashed {
    border-style: dashed
}

.aui-button--dashed:focus, .aui-button--dashed:hover {
    background-color: transparent
}

.aui-button--dashed-add > span > [class*=el-icon-], .aui-button--dashed-add > span > [class*=icon] {
    vertical-align: middle;
    font-size: 18px;
    margin-right: 5px
}

.aui-theme-tools {
    position: fixed;
    top: 103px;
    right: -210px;
    bottom: 0;
    z-index: 1010;
    width: 210px;
    -webkit-transition: right .3s;
    transition: right .3s
}

.aui-theme-tools--open {
    right: 0
}

.aui-theme-tools__toggle {
    position: absolute;
    top: 80px;
    left: -40px;
    width: 40px;
    padding: 10px 8px;
    text-align: center;
    font-size: 20px;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    color: #fff;
    background-color: #000000;
    cursor: pointer
}

.aui-theme-tools__content {
    height: 100%;
    padding: 5px 20px 20px;
    border: 1px solid #ebeef5;
    border-radius: 4px 0 0 4px;
    background-color: #fff
}

.aui-theme-tools__content .el-radio {
    display: block;
    margin-left: 0 !important;
    line-height: 28px
}

.aui-theme-tools__item + .aui-theme-tools__item {
    margin-top: 15px;
    border-top: 1px solid #ebeef5
}

.aui-wrapper {
    position: relative;
    padding-top: 50px
}

.aui-sidebar--fold .aui-navbar__brand, .aui-sidebar--fold .aui-navbar__header {
    width: 64px
}

.aui-sidebar--fold .aui-navbar__brand-lg {
    display: none
}

.aui-sidebar--fold .aui-navbar__brand-mini {
    display: inline-block
}

.aui-sidebar--fold .aui-navbar__icon-menu--switch {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg)
}

.aui-sidebar--fold .aui-sidebar__inner {
    width: 84px
}

.aui-sidebar--fold .aui-sidebar, .aui-sidebar--fold .aui-sidebar__menu {
    width: 64px
}

.aui-sidebar--fold .aui-sidebar__menu > li > .el-submenu__title {
    text-align: center
}

.aui-sidebar--fold .aui-sidebar__menu-icon {
    margin-right: 0;
    font-size: 18px
}

.aui-sidebar--fold .aui-content__wrapper {
    margin-left: 64px
}

.aui-sidebar--fold .aui-content--tabs > .el-tabs > .el-tabs__header {
    left: 64px
}

.aui-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 50px;
    background-color: #000000;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05)
}

.aui-navbar--colorful .aui-navbar__body {
    background-color: transparent
}

.aui-navbar--colorful .aui-navbar__menu > .el-menu-item, .aui-navbar--colorful .aui-navbar__menu > .el-submenu > .el-submenu__title {
    color: #fff
}

.aui-navbar--colorful .aui-navbar__menu > .el-menu-item:focus, .aui-navbar--colorful .aui-navbar__menu > .el-menu-item:hover, .aui-navbar--colorful .aui-navbar__menu > .el-submenu > .el-submenu__title:focus, .aui-navbar--colorful .aui-navbar__menu > .el-submenu > .el-submenu__title:hover {
    color: #fff;
    background-color: #d69d00
}

.aui-navbar--colorful .aui-navbar__menu > .el-menu-item.is-active, .aui-navbar--colorful .aui-navbar__menu > .el-submenu.is-active > .el-submenu__title {
    color: #fff
}

.aui-navbar--colorful .aui-navbar__menu > .el-menu-item.is-active:focus, .aui-navbar--colorful .aui-navbar__menu > .el-menu-item.is-active:hover, .aui-navbar--colorful .aui-navbar__menu > .el-submenu.is-active > .el-submenu__title:focus, .aui-navbar--colorful .aui-navbar__menu > .el-submenu.is-active > .el-submenu__title:hover {
    color: #fff
}

.aui-navbar--colorful .aui-navbar__menu .el-menu-item .el-dropdown, .aui-navbar--colorful .aui-navbar__menu .el-menu-item i, .aui-navbar--colorful .aui-navbar__menu .el-menu-item svg, .aui-navbar--colorful .aui-navbar__menu .el-submenu__title i, .aui-navbar--colorful .aui-navbar__menu .el-submenu__title svg {
    color: #fff !important
}

.aui-navbar--colorful .aui-navbar__menu .el-button {
    color: #fff;
    background-color: transparent
}

.aui-navbar--colorful .aui-navbar__search-txt .el-input__inner {
    color: #fff;
    border-color: #fff
}

.aui-navbar--colorful .aui-navbar__search-txt .el-input__inner::-webkit-input-placeholder {
    color: #fff
}

.aui-navbar__header {
    position: relative;
    width: 230px;
    height: 50px;
    -webkit-transition: width .3s;
    transition: width .3s
}

.aui-navbar__brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
    -webkit-transition: width .3s;
    transition: width .3s
}

.aui-navbar__brand-lg, .aui-navbar__brand-mini {
    max-width: 100%;
    color: #fff;
    cursor: pointer
}

.aui-navbar__brand-lg:focus, .aui-navbar__brand-lg:hover, .aui-navbar__brand-mini:focus, .aui-navbar__brand-mini:hover {
    color: #fff;
    text-decoration: none
}

.aui-navbar__brand-mini {
    display: none
}

.aui-navbar__body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #fff;
    overflow: hidden
}

.aui-navbar__menu {
    background-color: transparent;
    border-bottom: 0 !important
}

.aui-navbar__menu a:focus, .aui-navbar__menu a:hover {
    text-decoration: none
}

.aui-navbar__menu .el-menu-item, .aui-navbar__menu .el-submenu > .el-submenu__title {
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
    border-color: transparent !important
}

.aui-navbar__menu .el-menu-item.is-active, .aui-navbar__menu .el-submenu.is-active > .el-submenu__title {
    color: #909399
}

.aui-navbar__menu .el-menu-item.is-active:focus, .aui-navbar__menu .el-menu-item.is-active:hover, .aui-navbar__menu .el-submenu.is-active > .el-submenu__title:focus, .aui-navbar__menu .el-submenu.is-active > .el-submenu__title:hover {
    color: #303133
}

.aui-navbar__menu .el-menu-item:focus .aui-navbar__icon-menu, .aui-navbar__menu .el-menu-item:hover .aui-navbar__icon-menu {
    color: #303133
}

.aui-navbar__menu .el-menu-item:focus .el-dropdown, .aui-navbar__menu .el-menu-item:hover .el-dropdown {
    color: #303133
}

.aui-navbar__menu .el-menu-item:focus .el-dropdown .el-icon-arrow-down, .aui-navbar__menu .el-menu-item:hover .el-dropdown .el-icon-arrow-down {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg)
}

.aui-navbar__menu .el-menu-item * {
    vertical-align: initial
}

.aui-navbar__menu .el-menu-item .aui-navbar__icon-menu {
    vertical-align: middle;
    font-size: 16px
}

.aui-navbar__menu .el-menu-item .el-dropdown {
    color: #909399
}

.aui-navbar__menu .el-menu-item .el-dropdown .el-icon-arrow-down {
    width: auto;
    font-size: 12px;
    margin: 0 0 0 5px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

.aui-navbar__menu .el-badge {
    display: inline;
    z-index: 2
}

.aui-navbar__menu .el-badge__content {
    line-height: 16px
}

.aui-navbar__search > [class*=el-icon-], .aui-navbar__search > [class*=icon] {
    display: inline-block;
    vertical-align: middle
}

.aui-navbar__search-txt {
    width: 0;
    -webkit-transition: width .3s, margin-left .3s;
    transition: width .3s, margin-left .3s
}

.aui-navbar__search-txt.is-show {
    width: 210px;
    margin-left: 8px
}

.aui-navbar__search-txt .el-input__inner {
    height: 30px;
    padding: 0;
    line-height: 30px;
    border-color: #303133;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    background: 0 0
}

.aui-navbar__avatar .el-dropdown-link > img {
    width: 36px;
    height: auto;
    margin-right: 5px;
    border-radius: 100%;
    vertical-align: middle
}

.aui-sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    z-index: 1020;
    width: 230px;
    background-color: #fff;
    -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, .05);
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, .05);
    overflow: hidden;
    -webkit-transition: width .3s;
    transition: width .3s
}

.aui-sidebar--dark {
    background-color: #263238
}

.aui-sidebar--dark .aui-sidebar__menu, .aui-sidebar--dark > .el-menu--popup {
    background-color: #263238
}

.aui-sidebar--dark .aui-sidebar__menu .el-menu-item, .aui-sidebar--dark .aui-sidebar__menu .el-submenu > .el-submenu__title, .aui-sidebar--dark > .el-menu--popup .el-menu-item, .aui-sidebar--dark > .el-menu--popup .el-submenu > .el-submenu__title {
    color: #8a979e
}

.aui-sidebar--dark .aui-sidebar__menu .el-menu-item:focus, .aui-sidebar--dark .aui-sidebar__menu .el-menu-item:hover, .aui-sidebar--dark .aui-sidebar__menu .el-submenu > .el-submenu__title:focus, .aui-sidebar--dark .aui-sidebar__menu .el-submenu > .el-submenu__title:hover, .aui-sidebar--dark > .el-menu--popup .el-menu-item:focus, .aui-sidebar--dark > .el-menu--popup .el-menu-item:hover, .aui-sidebar--dark > .el-menu--popup .el-submenu > .el-submenu__title:focus, .aui-sidebar--dark > .el-menu--popup .el-submenu > .el-submenu__title:hover {
    color: #c5cbcf;
    background-color: #2b373d
}

.aui-sidebar--dark .aui-sidebar__menu .el-menu, .aui-sidebar--dark .aui-sidebar__menu .el-submenu.is-opened, .aui-sidebar--dark > .el-menu--popup .el-menu, .aui-sidebar--dark > .el-menu--popup .el-submenu.is-opened {
    background-color: #202b30
}

.aui-sidebar--dark .aui-sidebar__menu .el-menu-item.is-active, .aui-sidebar--dark .aui-sidebar__menu .el-submenu.is-active > .el-submenu__title, .aui-sidebar--dark > .el-menu--popup .el-menu-item.is-active, .aui-sidebar--dark > .el-menu--popup .el-submenu.is-active > .el-submenu__title {
    color: #e8eaec
}

.aui-sidebar__inner {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 100%;
    padding-bottom: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-transition: width .3s;
    transition: width .3s
}

.aui-sidebar__menu {
    width: 230px;
    border-right: 0;
    -webkit-transition: width .3s;
    transition: width .3s
}

.aui-sidebar__menu .el-menu-item, .aui-sidebar__menu .el-submenu__title {
    height: 48px;
    line-height: 48px
}

.aui-sidebar__menu-icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px !important;
    margin-right: 5px;
    text-align: center;
    font-size: 16px;
    color: inherit !important;
    -webkit-transition: font-size .3s;
    transition: font-size .3s
}

.aui-content {
    position: relative;
    padding: 15px;
    min-height: calc(100vh - 50px)
}

.aui-content__wrapper {
    position: relative;
    margin-left: 230px;
    min-height: calc(100vh - 50px);
    background-color: #f1f4f5;
    -webkit-transition: margin-left .3s;
    transition: margin-left .3s
}

.aui-content > .aui-card--fill > .el-card__body {
    min-height: calc(calc(100vh - 50px - 30px) - 2px)
}

.aui-content > .aui-card--fill > .el-card__header + .el-card__body {
    min-height: calc(calc(100vh - 50px - 30px) - 60px - 2px)
}

.aui-content--tabs {
    padding: 38px 0 0
}

.aui-content--tabs-tools {
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 931;
    min-width: 38px;
    height: 38px;
    padding: 0 12px;
    text-align: center;
    font-size: 16px;
    line-height: 38px;
    background-color: #f5f7fa;
    cursor: pointer
}

.aui-content--tabs-icon-nav {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px
}

.aui-content > .el-tabs > .el-tabs__header {
    position: fixed;
    top: 50px;
    left: 230px;
    right: 0;
    z-index: 930;
    padding: 0 55px 0 15px;
    margin: 0;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    -webkit-transition: left .3s;
    transition: left .3s
}

.aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap {
    margin-bottom: 0
}

.aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap:after {
    display: none
}

.aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-next, .aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-prev {
    line-height: 38px
}

.aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__active-bar {
    display: none
}

.aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item {
    height: 38px;
    padding: 0 15px;
    line-height: 38px;
    border: 0;
    color: #606266
}

.aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item.is-active, .aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item:focus, .aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item:hover {
    color: #303133;
    background-color: #f5f7fa
}

.aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item.is-active:after, .aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item:focus:after, .aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item:hover:after {
    display: block
}

.aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item.is-active > .el-icon-close, .aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item:focus > .el-icon-close, .aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item:hover > .el-icon-close {
    color: #303133
}

.aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item:after {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000000
}

.aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item + .el-tabs__item {
    margin-left: 1px
}

.aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item > .el-icon-close {
    width: 14px;
    margin-left: 15px;
    color: #909399
}

.aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item > i.icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px
}

.aui-content > .el-tabs > .el-tabs__content {
    padding: 15px
}

.aui-content > .el-tabs > .el-tabs__content > .el-tab-pane {
    min-height: calc(calc(100vh - 50px - 38px - 30px))
}

.aui-content > .el-tabs > .el-tabs__content > .el-tab-pane > .aui-card--fill > .el-card__body {
    min-height: calc(calc(100vh - 50px - 38px - 30px) - 2px)
}

.aui-content > .el-tabs > .el-tabs__content > .el-tab-pane > .aui-card--fill > .el-card__header + .el-card__body {
    min-height: calc(calc(100vh - 50px - 38px - 30px) - 60px - 2px)
}

.aui-content > .el-tabs > .el-tabs__content > .el-tab-pane.is-iframe {
    height: calc(calc(100vh - 50px - 38px - 30px) + 30px);
    margin: -15px;
    min-height: auto
}

.aui-content > .el-tabs > .el-tabs__content > .el-tab-pane.is-iframe > .aui-card--fill {
    background-color: transparent
}

.aui-content > .el-tabs > .el-tabs__content > .el-tab-pane.is-iframe > .aui-card--fill > .el-card__header {
    background-color: #fff
}

.aui-content > .el-tabs > .el-tabs__content > .el-tab-pane.is-iframe > .aui-card--fill > .el-card__body {
    height: calc(calc(100vh - 50px - 38px - 30px) - 2px);
    margin: 15px;
    min-height: auto;
    border: 1px solid #dcdfe6;
    border-color: #ebeef5;
    border-radius: 4px;
    background-color: #fff
}

.aui-content > .el-tabs > .el-tabs__content > .el-tab-pane.is-iframe > .aui-card--fill > .el-card__header + .el-card__body {
    height: calc(calc(100vh - 50px - 38px - 30px) - 60px - 2px)
}

.aui-content .ql-toolbar {
    line-height: 20px
}

.aui-content .ql-toolbar.ql-snow {
    border-color: #dcdfe6
}

.aui-content .ql-toolbar .ql-formats {
    margin: 0 5px
}

.aui-content .ql-container {
    height: 150px
}

.aui-content .ql-container.ql-snow {
    border-color: #dcdfe6
}

[class*=aui-page__] {
    padding-top: 0
}

[class*=aui-page__] .aui-content {
    min-height: auto
}

[class*=aui-page__] .aui-content__wrapper {
    min-height: 100vh;
    margin-left: 0
}

[class*=aui-page__] .aui-content > .aui-card--fill > .el-card__body {
    min-height: calc(100vh - 30px - 2px)
}

[class*=aui-page__] .aui-content > .aui-card--fill > .el-card__header + .el-card__body {
    min-height: calc(100vh - 30px - 60px - 2px)
}

.aui-page__login::after, .aui-page__login::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: ""
}

.aui-page__login::before {
    background-image: url(~@/assets/img/login_bg.jpg);
    background-size: cover
}

.aui-page__login::after {
    background-color: rgba(38, 50, 56, .4)
}

.aui-page__login .aui-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 20px 150px;
    text-align: center
}

.aui-page__login .aui-content__wrapper {
    height: 100vh;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: auto
}

.aui-page__login .login-header {
    padding: 20px;
    color: #fff
}

.aui-page__login .login-header .login-brand {
    margin: 0 0 15px;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase
}

.aui-page__login .login-header .login-intro {
    padding: 0;
    margin: 0;
    list-style: none
}

.aui-page__login .login-header .login-intro > li {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .6)
}

.aui-page__login .login-header .login-intro > li + li {
    margin-top: 5px
}

.aui-page__login .login-body, .aui-page__login .login-footer {
    width: 460px
}

.aui-page__login .login-body {
    padding: 20px 30px;
    background-color: #fff
}

.aui-page__login .login-body .login-title {
    font-size: 18px;
    font-weight: 400
}

.aui-page__login .login-body .el-input__prefix .el-input__icon {
    font-size: 16px
}

.aui-page__login .login-body .login-captcha {
    height: 40px;
    line-height: 40px -2px
}

.aui-page__login .login-body .login-captcha > img {
    max-width: 100%;
    cursor: pointer
}

.aui-page__login .login-body .login-shortcut {
    margin-bottom: 20px
}

.aui-page__login .login-body .login-shortcut__title {
    position: relative;
    margin: 0 0 15px;
    font-weight: 400
}

.aui-page__login .login-body .login-shortcut__title::before {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    content: "";
    height: 1px;
    margin-top: -.5px;
    background-color: #dcdfe6;
    overflow: hidden
}

.aui-page__login .login-body .login-shortcut__title > span {
    position: relative;
    z-index: 2;
    padding: 0 20px;
    color: rgba(0, 0, 0, .3);
    background-color: #fff
}

.aui-page__login .login-body .login-shortcut__list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0
}

.aui-page__login .login-body .login-shortcut__list > li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 28px
}

.aui-page__login .login-body .login-guide {
    color: rgba(0, 0, 0, .3)
}

.aui-page__login .login-footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    color: rgba(255, 255, 255, .6)
}

.aui-page__login .login-footer p {
    margin: 10px 0
}

.aui-page__login .login-footer a {
    padding: 0 5px;
    color: rgba(255, 255, 255, .6)
}

.aui-page__login .login-footer a:focus, .aui-page__login .login-footer a:hover {
    color: #fff
}

.aui-page__login--right-vertical .aui-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0
}

.aui-page__login--right-vertical .login-header {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 120px;
    text-align: left
}

.aui-page__login--right-vertical .login-body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 120px 30px 150px;
    text-align: center
}

.aui-page__login--right-vertical .login-body .login-guide {
    margin-top: 0
}

.aui-page__login--right-vertical .login-footer {
    right: 0;
    color: #606266
}

.aui-page__login--right-vertical .login-footer a {
    color: #606266
}

.aui-page__login--right-vertical .login-footer a:focus, .aui-page__login--right-vertical .login-footer a:hover {
    color: #000000
}

@media (max-width: 991px) {
    .aui-page__login--right-vertical .login-header {
        padding: 30px
    }
}

@media (max-width: 767px) {
    .aui-page__login--right-vertical .login-header .login-brand, .aui-page__login--right-vertical .login-header .login-intro {
        display: none
    }
}

@media (max-width: 575px) {
    .aui-page__login .login-body, .aui-page__login .login-footer {
        width: 100%
    }

    .aui-page__login .login-captcha {
        text-align: left
    }

    .aui-page__login .login-captcha > img {
        width: 136px
    }

    .aui-page__login--right-vertical .login-header {
        display: none
    }
}

.aui-page__not-found .aui-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    padding: 15% 50px 50px;
    text-align: center
}

.aui-page__not-found .aui-content__wrapper {
    height: 100vh;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: auto
}

.aui-page__not-found .title {
    margin: 0 0 15px;
    font-size: 10em;
    font-weight: 400;
    color: #606266
}

.aui-page__not-found .desc {
    margin: 0 0 20px;
    font-size: 26px;
    color: #909399
}

.aui-page__not-found .desc > em {
    margin: 0 5px;
    font-style: normal;
    color: #e6a23c
}

.aui-page__not-found .btn-bar .el-button {
    margin: 0 15px
}

@media (max-width: 767px) {
    .aui-page__not-found .title {
        font-size: 8em
    }

    .aui-page__not-found .desc {
        font-size: 20px
    }

    .aui-page__not-found .btn-bar .el-button {
        margin: 0 7.5px
    }
}

.mod-home table {
    width: 100%;
    border: 1px solid #ebeef5;
    border-collapse: collapse
}

.mod-home table td, .mod-home table th {
    padding: 12px 10px;
    border: 1px solid #ebeef5
}

.mod-home table th {
    width: 30%
}