<template>
    <el-card shadow="never" class="aui-card--fill">
        <div class="mod-boby_book__book}">
            <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
                <el-form-item>
                    <el-input v-model="dataForm.id" placeholder="id" clearable></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="getDataList()">{{ $t('query') }}</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="info" @click="exportHandle()">{{ $t('export') }}</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button v-if="$hasPermission('boby_book:book:save')" type="primary" @click="addOrUpdateHandle()">
                        {{ $t('add') }}
                    </el-button>
                </el-form-item>
                <el-form-item>
                    <el-button v-if="$hasPermission('boby_book:book:delete')" type="danger" @click="deleteHandle()">{{
                        $t('deleteBatch') }}
                    </el-button>
                </el-form-item>
            </el-form>
            <el-table v-loading="dataListLoading" :data="dataList"
                      @selection-change="dataListSelectionChangeHandle" style="width: 100%;">
                <el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>
                <el-table-column prop="id" label="主键" header-align="center" align="center"
                                 v-if="false"></el-table-column>
                <el-table-column label="封面" header-align="center" align="center">
                    <template slot-scope="scope">
                        <!--trigger属性值：hover、click、focus 和 manual-->
                        <el-popover placement="bottom" trigger="click">
                            <img :src="scope.row.bookCover" style="width: 200px;height: 100px">
                            <img slot="reference" :src="scope.row.bookCover"
                                 style="width: 50px;height: 50px; cursor:pointer"/>
                        </el-popover>
                    </template>
                </el-table-column>
                <el-table-column prop="bookCategory" label="类别" header-align="center" align="center" :width="150">
                <template slot-scope="scope">
                    <el-select v-model="scope.row.bookCategory" placeholder="请选择类别" disabled>
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.categoryName"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </template>
            </el-table-column>
                <el-table-column prop="bookName" label="名称" header-align="center" align="center"></el-table-column>
                <el-table-column prop="bookAuthor" label="作者" header-align="center" align="center"></el-table-column>
                <el-table-column prop="bookSynopsis" label="简介" header-align="center" align="center"
                                 v-if="false"></el-table-column>
                <el-table-column prop="bookChapterNum" label="章节数" header-align="center"
                                 align="center"></el-table-column>
                <el-table-column prop="bookSubscribeNum" label="订阅数" header-align="center"
                                 align="center"></el-table-column>
                <el-table-column prop="bookPlayNum" label="播放数" header-align="center"
                                 align="center"></el-table-column>
                <el-table-column prop="bookCollectionNum" label="收藏数" header-align="center"
                                 align="center"></el-table-column>
                <el-table-column prop="bookCommentNum" label="评论数" header-align="center"
                                 align="center"></el-table-column>
                <el-table-column prop="bookFabulousNum" label="点赞数" header-align="center"
                                 align="center"></el-table-column>
                <el-table-column prop="score" label="评分" header-align="center" align="center" :width="180">
                    <template slot-scope="scope">
                        <el-rate
                                disabled
                                v-model="scope.row.score"
                                :colors="colors">
                        </el-rate>
                    </template>
                </el-table-column>
                <el-table-column prop="shelfTime" label="上架时间" header-align="center" align="center"
                                 :width="180"></el-table-column>
                <el-table-column prop="updater" label="更新者" header-align="center" align="center"
                                 v-if="false"></el-table-column>
                <el-table-column prop="updateDate" label="更新时间" header-align="center" align="center"
                                 v-if="false"></el-table-column>
                <el-table-column prop="creator" label="创建者" header-align="center" align="center"
                                 v-if="false"></el-table-column>
                <el-table-column prop="createDate" label="创建时间" header-align="center" align="center"
                                 v-if="false"></el-table-column>
                <el-table-column :label="$t('handle')" fixed="right" header-align="center" align="center" width="150">
                    <template slot-scope="scope">
                        <el-button v-if="$hasPermission('boby_book:book:update')" type="text" size="small"
                                   @click="addOrUpdateHandle(scope.row.id)">{{ $t('update') }}
                        </el-button>
                        <el-button v-if="$hasPermission('boby_book:book:delete')" type="text" size="small"
                                   @click="deleteHandle(scope.row.id)">{{ $t('delete') }}
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    :current-page="page"
                    :page-sizes="[10, 20, 50, 100]"
                    :page-size="limit"
                    :total="total"
                    layout="total, sizes, prev, pager, next, jumper"
                    @size-change="pageSizeChangeHandle"
                    @current-change="pageCurrentChangeHandle">
            </el-pagination>
            <!-- 弹窗, 新增 / 修改 -->
            <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
        </div>
    </el-card>
</template>

<script>
    import mixinViewModule from '@/mixins/view-module'
    import AddOrUpdate from './book-add-or-update'

    export default {
        mixins: [mixinViewModule],
        data() {
            return {
                mixinViewModuleOptions: {
                    getDataListURL: '/boby_book/book/page',
                    getDataListIsPage: true,
                    exportURL: '/boby_book/book/export',
                    deleteURL: '/boby_book/book',
                    deleteIsBatch: true
                },
                dataForm: {
                    id: ''
                },
                options: [],
                colors: ['#99A9BF', '#F7BA2A', '#FF9900']
            }
        },
        components: {
            AddOrUpdate
        },
        created() {
            this.getCategoryAll()
        },
        methods:{
            // 获取图书类别
            getCategoryAll(){
                this.$http.get(`/boby_book/bookcategory/getCategoryAll`).then(({data: res}) => {
                    if (res.code !== 0) {
                        return this.$message.error(res.msg)
                    }
                    this.options = res.data
                }).catch(() => {
                })
            }
        }
    }
</script>
