<template>
    <el-dialog :visible.sync="visible" :title="!dataForm.id ? $t('add') : $t('update')" :close-on-click-modal="false"
               :close-on-press-escape="false">
        <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()"
                 :label-width="$i18n.locale === 'en-US' ? '200px' : '120px'">
            <el-row>
                <el-col :span="15">
                <el-form-item label="封面" prop="bookCover">
                    <el-upload
                            class="avatar-uploader"
                            action="https://jsonplaceholder.typicode.com/posts/"
                            :show-file-list="false">
                        <img v-if="dataForm.bookCover" :src="dataForm.bookCover" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
                </el-col>
                <el-col :span="7">
                    <el-form-item label="类别" prop="bookCategory">
                        <el-select v-model="dataForm.bookCategory" placeholder="请选择类别">
                            <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.categoryName"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="10">
                    <el-form-item label="名称" prop="bookName">
                        <el-input v-model="dataForm.bookName" placeholder="名称"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="10">
                    <el-form-item label="作者" prop="bookAuthor">
                        <el-input v-model="dataForm.bookAuthor" placeholder="作者"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item label="简介" prop="bookSynopsis">
                <el-input v-model="dataForm.bookSynopsis" type="textarea" placeholder="简介"></el-input>
            </el-form-item>
            <el-row>

                <el-col :span="7">
                    <el-form-item label="章节数" prop="bookChapterNum">
                        <el-input-number size="mini" v-model="dataForm.bookChapterNum"></el-input-number>
                    </el-form-item>
                </el-col>
                <el-col :span="7">
                    <el-form-item label="订阅数" prop="bookSubscribeNum">
                        <el-input-number size="mini" v-model="dataForm.bookSubscribeNum"></el-input-number>
                    </el-form-item>
                </el-col>
                <el-col :span="7">
                    <el-form-item label="播放数" prop="bookPlayNum">
                        <el-input-number size="mini" v-model="dataForm.bookPlayNum"></el-input-number>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="7">
                    <el-form-item label="收藏数" prop="bookCollectionNum">
                        <el-input-number size="mini" v-model="dataForm.bookCollectionNum"></el-input-number>
                    </el-form-item>
                </el-col>
                <el-col :span="7">
                    <el-form-item label="评论数" prop="bookCommentNum">
                        <el-input-number size="mini" v-model="dataForm.bookCommentNum"></el-input-number>
                    </el-form-item>
                </el-col>
                <el-col :span="7">
                    <el-form-item label="点赞数" prop="bookFabulousNum">
                        <el-input-number size="mini" v-model="dataForm.bookFabulousNum"></el-input-number>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="7">
                    <el-form-item label="评分" prop="score">
                        <el-rate
                                v-model="dataForm.score"
                                :colors="colors">
                        </el-rate>
                    </el-form-item>
                </el-col>
                <el-col :span="7">
                    <el-form-item label="上架时间" prop="shelfTime">
                        <el-date-picker
                                v-model="dataForm.shelfTime"
                                type="datetime"
                                placeholder="选择上架时间"
                                format="yyyy-MM-dd HH:mm:ss"
                                value-format="yyyy-MM-dd HH:mm:ss"
                        >
                        </el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <template slot="footer">
            <el-button @click="visible = false">{{ $t('cancel') }}</el-button>
            <el-button type="primary" @click="dataFormSubmitHandle()">{{ $t('confirm') }}</el-button>
        </template>
    </el-dialog>
</template>

<script>
    import debounce from 'lodash/debounce'

    export default {
        data() {
            return {
                visible: false,
                dataForm: {
                    id: '',
                    bookCover: '',
                    bookName: '',
                    bookAuthor: '',
                    bookSynopsis: '',
                    bookCategory: '',
                    bookChapterNum: '',
                    bookSubscribeNum: '',
                    bookPlayNum: '',
                    bookCollectionNum: '',
                    bookCommentNum: '',
                    bookFabulousNum: '',
                    score: '',
                    shelfTime: '',
                    updater: '',
                    updateDate: '',
                    creator: '',
                    createDate: ''
                },
                options: [],
                colors: ['#99A9BF', '#F7BA2A', '#FF9900']
            }
        },
        computed: {
            dataRule() {
                return {
                    bookCover: [
                        {required: true, message: this.$t('validate.required'), trigger: 'blur'}
                    ],
                    bookName: [
                        {required: true, message: this.$t('validate.required'), trigger: 'blur'}
                    ],
                    bookAuthor: [
                        {required: true, message: this.$t('validate.required'), trigger: 'blur'}
                    ],
                    bookSynopsis: [
                        {required: true, message: this.$t('validate.required'), trigger: 'blur'}
                    ],
                    bookCategory: [
                        {required: true, message: this.$t('validate.required'), trigger: 'blur'}
                    ],
                    bookChapterNum: [
                        {required: true, message: this.$t('validate.required'), trigger: 'blur'}
                    ],
                    bookSubscribeNum: [
                        {required: true, message: this.$t('validate.required'), trigger: 'blur'}
                    ],
                    bookPlayNum: [
                        {required: true, message: this.$t('validate.required'), trigger: 'blur'}
                    ],
                    bookCollectionNum: [
                        {required: true, message: this.$t('validate.required'), trigger: 'blur'}
                    ],
                    bookCommentNum: [
                        {required: true, message: this.$t('validate.required'), trigger: 'blur'}
                    ],
                    bookFabulousNum: [
                        {required: true, message: this.$t('validate.required'), trigger: 'blur'}
                    ],
                    score: [
                        {required: true, message: this.$t('validate.required'), trigger: 'blur'}
                    ],
                    shelfTime: [
                        {required: true, message: this.$t('validate.required'), trigger: 'blur'}
                    ]
                }
            }
        },
        created() {
            this.getCategoryAll()
        },
        methods: {
            init() {
                this.visible = true
                this.$nextTick(() => {
                    this.$refs['dataForm'].resetFields()
                    if (this.dataForm.id) {
                        this.getInfo()
                    }
                })
            },
            // 获取图书类别
            getCategoryAll() {
                this.$http.get(`/boby_book/bookcategory/getCategoryAll`).then(({data: res}) => {
                    if (res.code !== 0) {
                        return this.$message.error(res.msg)
                    }
                    this.options = res.data
                }).catch(() => {
                })
            },
            // 获取信息
            getInfo() {
                this.$http.get(`/boby_book/book/${this.dataForm.id}`).then(({data: res}) => {
                    if (res.code !== 0) {
                        return this.$message.error(res.msg)
                    }
                    this.dataForm = {
                        ...this.dataForm,
                        ...res.data
                    }
                }).catch(() => {
                })
            },
            // 表单提交
            dataFormSubmitHandle: debounce(function () {
                this.$refs['dataForm'].validate((valid) => {
                    if (!valid) {
                        return false
                    }
                    this.$http[!this.dataForm.id ? 'post' : 'put']('/boby_book/book/', this.dataForm).then(({data: res}) => {
                        if (res.code !== 0) {
                            return this.$message.error(res.msg)
                        }
                        this.$message({
                            message: this.$t('prompt.success'),
                            type: 'success',
                            duration: 500,
                            onClose: () => {
                                this.visible = false
                                this.$emit('refreshDataList')
                            }
                        })
                    }).catch(() => {
                    })
                })
            }, 1000, {'leading': true, 'trailing': false})
        }
    }
</script>
<style>
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 356px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }

    .avatar {
        width: 356px;
        height: 178px;
        display: block;
    }
</style>
