<template>
  <el-dialog :visible.sync="visible" :title="!dataForm.id ? $t('add') : $t('update')" :close-on-click-modal="false" :close-on-press-escape="false">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()" :label-width="$i18n.locale === 'en-US' ? '120px' : '80px'">
          <el-form-item label="图书名称" prop="bookName">
          <el-input v-model="dataForm.bookName" placeholder="图书名称"></el-input>
      </el-form-item>
          <el-form-item label="图书章节名称" prop="chapterName">
          <el-input v-model="dataForm.chapterName" placeholder="图书章节名称"></el-input>
      </el-form-item>
          <el-form-item label="图书章节内容" prop="chapterContent">
          <el-input v-model="dataForm.chapterContent" placeholder="图书章节内容"></el-input>
      </el-form-item>
          <el-form-item label="图书章节图片" prop="chapterImg">
          <el-input v-model="dataForm.chapterImg" placeholder="图书章节图片"></el-input>
      </el-form-item>
          <el-form-item label="图书播放数量" prop="bookPlayNums">
          <el-input v-model="dataForm.bookPlayNums" placeholder="图书播放数量"></el-input>
      </el-form-item>
          <el-form-item label="图书收藏数量" prop="bookCollectionNum">
          <el-input v-model="dataForm.bookCollectionNum" placeholder="图书收藏数量"></el-input>
      </el-form-item>
          <el-form-item label="图书评论数量" prop="bookCommentNum">
          <el-input v-model="dataForm.bookCommentNum" placeholder="图书评论数量"></el-input>
      </el-form-item>
          <el-form-item label="书籍id" prop="bookId">
          <el-input v-model="dataForm.bookId" placeholder="书籍id"></el-input>
      </el-form-item>
          <el-form-item label="更新者" prop="updater">
          <el-input v-model="dataForm.updater" placeholder="更新者"></el-input>
      </el-form-item>
          <el-form-item label="更新时间" prop="updateDate">
          <el-input v-model="dataForm.updateDate" placeholder="更新时间"></el-input>
      </el-form-item>
          </el-form>
    <template slot="footer">
      <el-button @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
export default {
  data () {
    return {
      visible: false,
      dataForm: {
        id: '',
        bookName: '',
        chapterName: '',
        chapterContent: '',
        chapterImg: '',
        bookPlayNums: '',
        bookCollectionNum: '',
        bookCommentNum: '',
        bookId: '',
        updater: '',
        updateDate: '',
        creator: '',
        createDate: ''
      }
    }
  },
  computed: {
    dataRule () {
      return {
        bookName: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        chapterName: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        chapterContent: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        chapterImg: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        bookPlayNums: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        bookCollectionNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        bookCommentNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        bookId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updater: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updateDate: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
      }
    }
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo () {
      this.$http.get(`/boby_book/bookchapter/${this.dataForm.id}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => {})
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.id ? 'post' : 'put']('/boby_book/bookchapter/', this.dataForm).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
