<template>
  <el-card shadow="never" class="aui-card--fill">
    <div class="mod-boby_book__commodityorderitem}">
      <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
        <el-form-item>
          <el-input v-model="dataForm.id" placeholder="id" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-button @click="getDataList()">{{ $t('query') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="info" @click="exportHandle()">{{ $t('export') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button v-if="$hasPermission('boby_book:commodityorderitem:save')" type="primary" @click="addOrUpdateHandle()">{{ $t('add') }}</el-button>
        </el-form-item>
        <el-form-item>
          <el-button v-if="$hasPermission('boby_book:commodityorderitem:delete')" type="danger" @click="deleteHandle()">{{ $t('deleteBatch') }}</el-button>
        </el-form-item>
      </el-form>
      <el-table v-loading="dataListLoading" :data="dataList" border @selection-change="dataListSelectionChangeHandle" style="width: 100%;">
        <el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>
        <el-table-column prop="id" label="主键" header-align="center" align="center"></el-table-column>
        <el-table-column prop="orderId" label="订单id" header-align="center" align="center"></el-table-column>
        <el-table-column prop="orderSn" label="订单编号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="commodityId" label="商品id(对应spu_id)" header-align="center" align="center"></el-table-column>
        <el-table-column prop="commodityPic" label="商品图片" header-align="center" align="center"></el-table-column>
        <el-table-column prop="commodityName" label="商品名称" header-align="center" align="center"></el-table-column>
        <el-table-column prop="commodityBrand" label="品牌" header-align="center" align="center"></el-table-column>
        <el-table-column prop="commoditySn" label="商品编号（仓库）" header-align="center" align="center"></el-table-column>
        <el-table-column prop="commodityPrice" label="销售价格" header-align="center" align="center"></el-table-column>
        <el-table-column prop="commodityQuantity" label="购买数量" header-align="center" align="center"></el-table-column>
        <el-table-column prop="commoditySkuId" label="商品sku编号" header-align="center" align="center"></el-table-column>
        <el-table-column prop="commoditySkuCode" label="商品sku条码" header-align="center" align="center"></el-table-column>
        <el-table-column prop="commodityCategoryId" label="商品分类id" header-align="center" align="center"></el-table-column>
        <el-table-column prop="sp1" label="商品的销售属性1" header-align="center" align="center"></el-table-column>
        <el-table-column prop="sp2" label="商品的销售属性2" header-align="center" align="center"></el-table-column>
        <el-table-column prop="sp3" label="商品的销售属性3" header-align="center" align="center"></el-table-column>
        <el-table-column prop="commodityAttr" label="商品销售属性:[{"key":"颜色","value":"颜色"},{"key":"容量","value":"4G"}]" header-align="center" align="center"></el-table-column>
        <el-table-column prop="updater" label="更新者" header-align="center" align="center"></el-table-column>
        <el-table-column prop="updateDate" label="更新时间" header-align="center" align="center"></el-table-column>
        <el-table-column prop="creator" label="创建者" header-align="center" align="center"></el-table-column>
        <el-table-column prop="createDate" label="创建时间" header-align="center" align="center"></el-table-column>
        <el-table-column :label="$t('handle')" fixed="right" header-align="center" align="center" width="150">
          <template slot-scope="scope">
            <el-button v-if="$hasPermission('boby_book:commodityorderitem:update')" type="text" size="small" @click="addOrUpdateHandle(scope.row.id)">{{ $t('update') }}</el-button>
            <el-button v-if="$hasPermission('boby_book:commodityorderitem:delete')" type="text" size="small" @click="deleteHandle(scope.row.id)">{{ $t('delete') }}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        :current-page="page"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="limit"
        :total="total"
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="pageSizeChangeHandle"
        @current-change="pageCurrentChangeHandle">
      </el-pagination>
      <!-- 弹窗, 新增 / 修改 -->
      <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    </div>
  </el-card>
</template>

<script>
import mixinViewModule from '@/mixins/view-module'
import AddOrUpdate from './commodityorderitem-add-or-update'
export default {
  mixins: [mixinViewModule],
  data () {
    return {
      mixinViewModuleOptions: {
        getDataListURL: '/boby_book/commodityorderitem/page',
        getDataListIsPage: true,
        exportURL: '/boby_book/commodityorderitem/export',
        deleteURL: '/boby_book/commodityorderitem',
        deleteIsBatch: true
      },
      dataForm: {
        id: ''
      }
    }
  },
  components: {
    AddOrUpdate
  }
}
</script>
