<template>
  <el-dialog :visible.sync="visible" :title="!dataForm.id ? $t('add') : $t('update')" :close-on-click-modal="false" :close-on-press-escape="false">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()" :label-width="$i18n.locale === 'en-US' ? '120px' : '80px'">
          <el-form-item label="订单id" prop="orderId">
          <el-input v-model="dataForm.orderId" placeholder="订单id"></el-input>
      </el-form-item>
          <el-form-item label="订单编号" prop="orderSn">
          <el-input v-model="dataForm.orderSn" placeholder="订单编号"></el-input>
      </el-form-item>
          <el-form-item label="商品id(对应spu_id)" prop="commodityId">
          <el-input v-model="dataForm.commodityId" placeholder="商品id(对应spu_id)"></el-input>
      </el-form-item>
          <el-form-item label="商品图片" prop="commodityPic">
          <el-input v-model="dataForm.commodityPic" placeholder="商品图片"></el-input>
      </el-form-item>
          <el-form-item label="商品名称" prop="commodityName">
          <el-input v-model="dataForm.commodityName" placeholder="商品名称"></el-input>
      </el-form-item>
          <el-form-item label="品牌" prop="commodityBrand">
          <el-input v-model="dataForm.commodityBrand" placeholder="品牌"></el-input>
      </el-form-item>
          <el-form-item label="商品编号（仓库）" prop="commoditySn">
          <el-input v-model="dataForm.commoditySn" placeholder="商品编号（仓库）"></el-input>
      </el-form-item>
          <el-form-item label="销售价格" prop="commodityPrice">
          <el-input v-model="dataForm.commodityPrice" placeholder="销售价格"></el-input>
      </el-form-item>
          <el-form-item label="购买数量" prop="commodityQuantity">
          <el-input v-model="dataForm.commodityQuantity" placeholder="购买数量"></el-input>
      </el-form-item>
          <el-form-item label="商品sku编号" prop="commoditySkuId">
          <el-input v-model="dataForm.commoditySkuId" placeholder="商品sku编号"></el-input>
      </el-form-item>
          <el-form-item label="商品sku条码" prop="commoditySkuCode">
          <el-input v-model="dataForm.commoditySkuCode" placeholder="商品sku条码"></el-input>
      </el-form-item>
          <el-form-item label="商品分类id" prop="commodityCategoryId">
          <el-input v-model="dataForm.commodityCategoryId" placeholder="商品分类id"></el-input>
      </el-form-item>
          <el-form-item label="商品的销售属性1" prop="sp1">
          <el-input v-model="dataForm.sp1" placeholder="商品的销售属性1"></el-input>
      </el-form-item>
          <el-form-item label="商品的销售属性2" prop="sp2">
          <el-input v-model="dataForm.sp2" placeholder="商品的销售属性2"></el-input>
      </el-form-item>
          <el-form-item label="商品的销售属性3" prop="sp3">
          <el-input v-model="dataForm.sp3" placeholder="商品的销售属性3"></el-input>
      </el-form-item>
          <el-form-item label="商品销售属性:[{"key":"颜色","value":"颜色"},{"key":"容量","value":"4G"}]" prop="commodityAttr">
          <el-input v-model="dataForm.commodityAttr" placeholder="商品销售属性:[{"key":"颜色","value":"颜色"},{"key":"容量","value":"4G"}]"></el-input>
      </el-form-item>
          <el-form-item label="更新者" prop="updater">
          <el-input v-model="dataForm.updater" placeholder="更新者"></el-input>
      </el-form-item>
          <el-form-item label="更新时间" prop="updateDate">
          <el-input v-model="dataForm.updateDate" placeholder="更新时间"></el-input>
      </el-form-item>
          </el-form>
    <template slot="footer">
      <el-button @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
export default {
  data () {
    return {
      visible: false,
      dataForm: {
        id: '',
        orderId: '',
        orderSn: '',
        commodityId: '',
        commodityPic: '',
        commodityName: '',
        commodityBrand: '',
        commoditySn: '',
        commodityPrice: '',
        commodityQuantity: '',
        commoditySkuId: '',
        commoditySkuCode: '',
        commodityCategoryId: '',
        sp1: '',
        sp2: '',
        sp3: '',
        commodityAttr: '',
        updater: '',
        updateDate: '',
        creator: '',
        createDate: ''
      }
    }
  },
  computed: {
    dataRule () {
      return {
        orderId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        orderSn: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        commodityId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        commodityPic: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        commodityName: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        commodityBrand: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        commoditySn: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        commodityPrice: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        commodityQuantity: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        commoditySkuId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        commoditySkuCode: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        commodityCategoryId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        sp1: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        sp2: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        sp3: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        commodityAttr: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updater: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updateDate: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
      }
    }
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo () {
      this.$http.get(`/boby_book/commodityorderitem/${this.dataForm.id}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => {})
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.id ? 'post' : 'put']('/boby_book/commodityorderitem/', this.dataForm).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
