<template>
  <el-dialog :visible.sync="visible" :title="!dataForm.id ? $t('add') : $t('update')" :close-on-click-modal="false" :close-on-press-escape="false">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()" :label-width="$i18n.locale === 'en-US' ? '120px' : '80px'">
          <el-form-item label="商品名称" prop="commodityName">
          <el-input v-model="dataForm.commodityName" placeholder="商品名称"></el-input>
      </el-form-item>
          <el-form-item label="商品描述" prop="commodityDescribe">
          <el-input v-model="dataForm.commodityDescribe" placeholder="商品描述"></el-input>
      </el-form-item>
          <el-form-item label="品牌id" prop="brandId">
          <el-input v-model="dataForm.brandId" placeholder="品牌id"></el-input>
      </el-form-item>
          <el-form-item label="商品分类id" prop="catalogId">
          <el-input v-model="dataForm.catalogId" placeholder="商品分类id"></el-input>
      </el-form-item>
          <el-form-item label="默认积分" prop="integral">
          <el-input v-model="dataForm.integral" placeholder="默认积分"></el-input>
      </el-form-item>
          <el-form-item label="默认价格" prop="price">
          <el-input v-model="dataForm.price" placeholder="默认价格"></el-input>
      </el-form-item>
          <el-form-item label="已兑换总个数" prop="exchangeNum">
          <el-input v-model="dataForm.exchangeNum" placeholder="已兑换总个数"></el-input>
      </el-form-item>
          <el-form-item label="评论数" prop="commentNum">
          <el-input v-model="dataForm.commentNum" placeholder="评论数"></el-input>
      </el-form-item>
          <el-form-item label="更新者" prop="updater">
          <el-input v-model="dataForm.updater" placeholder="更新者"></el-input>
      </el-form-item>
          <el-form-item label="更新时间" prop="updateDate">
          <el-input v-model="dataForm.updateDate" placeholder="更新时间"></el-input>
      </el-form-item>
          </el-form>
    <template slot="footer">
      <el-button @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
export default {
  data () {
    return {
      visible: false,
      dataForm: {
        id: '',
        commodityName: '',
        commodityDescribe: '',
        brandId: '',
        catalogId: '',
        integral: '',
        price: '',
        exchangeNum: '',
        commentNum: '',
        updater: '',
        updateDate: '',
        creator: '',
        createDate: ''
      }
    }
  },
  computed: {
    dataRule () {
      return {
        commodityName: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        commodityDescribe: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        brandId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        catalogId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        integral: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        price: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        exchangeNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        commentNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updater: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updateDate: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
      }
    }
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo () {
      this.$http.get(`/boby_book/commodityspuinfo/${this.dataForm.id}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => {})
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.id ? 'post' : 'put']('/boby_book/commodityspuinfo/', this.dataForm).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
