<template>
  <el-dialog :visible.sync="visible" :title="!dataForm.id ? $t('add') : $t('update')" :close-on-click-modal="false" :close-on-press-escape="false">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()" :label-width="$i18n.locale === 'en-US' ? '120px' : '80px'">
          <el-form-item label="品牌名称" prop="name">
          <el-input v-model="dataForm.name" placeholder="品牌名称"></el-input>
      </el-form-item>
          <el-form-item label="首字母" prop="firstLetter">
          <el-input v-model="dataForm.firstLetter" placeholder="首字母"></el-input>
      </el-form-item>
          <el-form-item label="分类" prop="sort">
          <el-input v-model="dataForm.sort" placeholder="分类"></el-input>
      </el-form-item>
          <el-form-item label="是否为品牌制造商：0->不是；1->是" prop="factoryStatus">
          <el-input v-model="dataForm.factoryStatus" placeholder="是否为品牌制造商：0->不是；1->是"></el-input>
      </el-form-item>
          <el-form-item label="显示状态" prop="showStatus">
          <el-input v-model="dataForm.showStatus" placeholder="显示状态"></el-input>
      </el-form-item>
          <el-form-item label="产品数量" prop="productCount">
          <el-input v-model="dataForm.productCount" placeholder="产品数量"></el-input>
      </el-form-item>
          <el-form-item label="产品评论数量" prop="productCommentCount">
          <el-input v-model="dataForm.productCommentCount" placeholder="产品评论数量"></el-input>
      </el-form-item>
          <el-form-item label="产品logo" prop="logo">
          <el-input v-model="dataForm.logo" placeholder="产品logo"></el-input>
      </el-form-item>
          <el-form-item label="专区大图" prop="bigPic">
          <el-input v-model="dataForm.bigPic" placeholder="专区大图"></el-input>
      </el-form-item>
          <el-form-item label="品牌故事" prop="brandStory">
          <el-input v-model="dataForm.brandStory" placeholder="品牌故事"></el-input>
      </el-form-item>
          <el-form-item label="更新者" prop="updater">
          <el-input v-model="dataForm.updater" placeholder="更新者"></el-input>
      </el-form-item>
          <el-form-item label="更新时间" prop="updateDate">
          <el-input v-model="dataForm.updateDate" placeholder="更新时间"></el-input>
      </el-form-item>
          </el-form>
    <template slot="footer">
      <el-button @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
export default {
  data () {
    return {
      visible: false,
      dataForm: {
        id: '',
        name: '',
        firstLetter: '',
        sort: '',
        factoryStatus: '',
        showStatus: '',
        productCount: '',
        productCommentCount: '',
        logo: '',
        bigPic: '',
        brandStory: '',
        updater: '',
        updateDate: '',
        creator: '',
        createDate: ''
      }
    }
  },
  computed: {
    dataRule () {
      return {
        name: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        firstLetter: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        sort: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        factoryStatus: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        showStatus: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        productCount: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        productCommentCount: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        logo: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        bigPic: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        brandStory: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updater: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updateDate: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
      }
    }
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo () {
      this.$http.get(`/boby_book/commoditybrand/${this.dataForm.id}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => {})
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.id ? 'post' : 'put']('/boby_book/commoditybrand/', this.dataForm).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
