<template>
  <el-dialog :visible.sync="visible" :title="!dataForm.id ? $t('add') : $t('update')" :close-on-click-modal="false" :close-on-press-escape="false">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()" :label-width="$i18n.locale === 'en-US' ? '120px' : '80px'">
          <el-form-item label="商品id" prop="commodityId">
          <el-input v-model="dataForm.commodityId" placeholder="商品id"></el-input>
      </el-form-item>
          <el-form-item label="sku名称" prop="skuName">
          <el-input v-model="dataForm.skuName" placeholder="sku名称"></el-input>
      </el-form-item>
          <el-form-item label="商品详情" prop="skuDetails">
          <el-input v-model="dataForm.skuDetails" placeholder="商品详情"></el-input>
      </el-form-item>
          <el-form-item label="积分" prop="integral">
          <el-input v-model="dataForm.integral" placeholder="积分"></el-input>
      </el-form-item>
          <el-form-item label="市场参考价" prop="price">
          <el-input v-model="dataForm.price" placeholder="市场参考价"></el-input>
      </el-form-item>
          <el-form-item label="品牌id(冗余)" prop="brandId">
          <el-input v-model="dataForm.brandId" placeholder="品牌id(冗余)"></el-input>
      </el-form-item>
          <el-form-item label="分类id（冗余)" prop="catalogId">
          <el-input v-model="dataForm.catalogId" placeholder="分类id（冗余)"></el-input>
      </el-form-item>
          <el-form-item label="默认显示图片(冗余)" prop="skuDefaultImg">
          <el-input v-model="dataForm.skuDefaultImg" placeholder="默认显示图片(冗余)"></el-input>
      </el-form-item>
          <el-form-item label="已兑换个数" prop="exchangeNum">
          <el-input v-model="dataForm.exchangeNum" placeholder="已兑换个数"></el-input>
      </el-form-item>
          <el-form-item label="库存个数" prop="stockNum">
          <el-input v-model="dataForm.stockNum" placeholder="库存个数"></el-input>
      </el-form-item>
          <el-form-item label="更新者" prop="updater">
          <el-input v-model="dataForm.updater" placeholder="更新者"></el-input>
      </el-form-item>
          <el-form-item label="更新时间" prop="updateDate">
          <el-input v-model="dataForm.updateDate" placeholder="更新时间"></el-input>
      </el-form-item>
          </el-form>
    <template slot="footer">
      <el-button @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
export default {
  data () {
    return {
      visible: false,
      dataForm: {
        id: '',
        commodityId: '',
        skuName: '',
        skuDetails: '',
        integral: '',
        price: '',
        brandId: '',
        catalogId: '',
        skuDefaultImg: '',
        exchangeNum: '',
        stockNum: '',
        updater: '',
        updateDate: '',
        creator: '',
        createDate: ''
      }
    }
  },
  computed: {
    dataRule () {
      return {
        commodityId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        skuName: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        skuDetails: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        integral: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        price: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        brandId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        catalogId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        skuDefaultImg: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        exchangeNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        stockNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updater: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updateDate: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
      }
    }
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo () {
      this.$http.get(`/boby_book/commodityskuinfo/${this.dataForm.id}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => {})
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.id ? 'post' : 'put']('/boby_book/commodityskuinfo/', this.dataForm).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
