<template>
  <el-dialog :visible.sync="visible" :title="!dataForm.id ? $t('add') : $t('update')" :close-on-click-modal="false" :close-on-press-escape="false">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()" :label-width="$i18n.locale === 'en-US' ? '120px' : '80px'">
          <el-form-item label="视频名称" prop="videoName">
          <el-input v-model="dataForm.videoName" placeholder="视频名称"></el-input>
      </el-form-item>
          <el-form-item label="视频封面" prop="videoImg">
          <el-input v-model="dataForm.videoImg" placeholder="视频封面"></el-input>
      </el-form-item>
          <el-form-item label="视频URL" prop="videoUrl">
          <el-input v-model="dataForm.videoUrl" placeholder="视频URL"></el-input>
      </el-form-item>
          <el-form-item label="播放次数" prop="playNum">
          <el-input v-model="dataForm.playNum" placeholder="播放次数"></el-input>
      </el-form-item>
          <el-form-item label="评论数量" prop="commentNum">
          <el-input v-model="dataForm.commentNum" placeholder="评论数量"></el-input>
      </el-form-item>
          <el-form-item label="点赞数量" prop="fabulousNum">
          <el-input v-model="dataForm.fabulousNum" placeholder="点赞数量"></el-input>
      </el-form-item>
          <el-form-item label="分享次数" prop="shareNum">
          <el-input v-model="dataForm.shareNum" placeholder="分享次数"></el-input>
      </el-form-item>
          <el-form-item label="用户id(发布者)" prop="userId">
          <el-input v-model="dataForm.userId" placeholder="用户id(发布者)"></el-input>
      </el-form-item>
          <el-form-item label="上传时间" prop="uploadTime">
          <el-input v-model="dataForm.uploadTime" placeholder="上传时间"></el-input>
      </el-form-item>
          <el-form-item label="更新者" prop="updater">
          <el-input v-model="dataForm.updater" placeholder="更新者"></el-input>
      </el-form-item>
          <el-form-item label="更新时间" prop="updateDate">
          <el-input v-model="dataForm.updateDate" placeholder="更新时间"></el-input>
      </el-form-item>
          </el-form>
    <template slot="footer">
      <el-button @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
export default {
  data () {
    return {
      visible: false,
      dataForm: {
        id: '',
        videoName: '',
        videoImg: '',
        videoUrl: '',
        playNum: '',
        commentNum: '',
        fabulousNum: '',
        shareNum: '',
        userId: '',
        uploadTime: '',
        updater: '',
        updateDate: '',
        creator: '',
        createDate: ''
      }
    }
  },
  computed: {
    dataRule () {
      return {
        videoName: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        videoImg: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        videoUrl: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        playNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        commentNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        fabulousNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        shareNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        userId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        uploadTime: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updater: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updateDate: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
      }
    }
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo () {
      this.$http.get(`/boby_book/find/${this.dataForm.id}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => {})
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.id ? 'post' : 'put']('/boby_book/find/', this.dataForm).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
