<template>
  <el-dialog :visible.sync="visible" :title="!dataForm.id ? $t('add') : $t('update')" :close-on-click-modal="false" :close-on-press-escape="false">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()" :label-width="$i18n.locale === 'en-US' ? '120px' : '80px'">
          <el-form-item label="金币积分" prop="integral">
          <el-input v-model="dataForm.integral" placeholder="金币积分"></el-input>
      </el-form-item>
          <el-form-item label="宝豆" prop="baoBean">
          <el-input v-model="dataForm.baoBean" placeholder="宝豆"></el-input>
      </el-form-item>
          <el-form-item label="下载图书" prop="downloadNum">
          <el-input v-model="dataForm.downloadNum" placeholder="下载图书"></el-input>
      </el-form-item>
          <el-form-item label="购买图书" prop="purchaseNum">
          <el-input v-model="dataForm.purchaseNum" placeholder="购买图书"></el-input>
      </el-form-item>
          <el-form-item label="收藏图书" prop="collectionNum">
          <el-input v-model="dataForm.collectionNum" placeholder="收藏图书"></el-input>
      </el-form-item>
          <el-form-item label="订阅图书" prop="subscribeNum">
          <el-input v-model="dataForm.subscribeNum" placeholder="订阅图书"></el-input>
      </el-form-item>
          <el-form-item label="视频播放量" prop="playVideoNum">
          <el-input v-model="dataForm.playVideoNum" placeholder="视频播放量"></el-input>
      </el-form-item>
          <el-form-item label="视频数量" prop="videoNum">
          <el-input v-model="dataForm.videoNum" placeholder="视频数量"></el-input>
      </el-form-item>
          <el-form-item label="粉丝(人)" prop="fansNum">
          <el-input v-model="dataForm.fansNum" placeholder="粉丝(人)"></el-input>
      </el-form-item>
          <el-form-item label="关注(人)" prop="followNum">
          <el-input v-model="dataForm.followNum" placeholder="关注(人)"></el-input>
      </el-form-item>
          <el-form-item label="用户id(外键)" prop="userId">
          <el-input v-model="dataForm.userId" placeholder="用户id(外键)"></el-input>
      </el-form-item>
          <el-form-item label="更新者" prop="updater">
          <el-input v-model="dataForm.updater" placeholder="更新者"></el-input>
      </el-form-item>
          <el-form-item label="更新时间" prop="updateDate">
          <el-input v-model="dataForm.updateDate" placeholder="更新时间"></el-input>
      </el-form-item>
          </el-form>
    <template slot="footer">
      <el-button @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
export default {
  data () {
    return {
      visible: false,
      dataForm: {
        id: '',
        integral: '',
        baoBean: '',
        downloadNum: '',
        purchaseNum: '',
        collectionNum: '',
        subscribeNum: '',
        playVideoNum: '',
        videoNum: '',
        fansNum: '',
        followNum: '',
        userId: '',
        updater: '',
        updateDate: '',
        creator: '',
        createDate: ''
      }
    }
  },
  computed: {
    dataRule () {
      return {
        integral: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        baoBean: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        downloadNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        purchaseNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        collectionNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        subscribeNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        playVideoNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        videoNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        fansNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        followNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        userId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updater: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updateDate: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
      }
    }
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo () {
      this.$http.get(`/boby_book/userspecificinformation/${this.dataForm.id}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => {})
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.id ? 'post' : 'put']('/boby_book/userspecificinformation/', this.dataForm).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
