<template>
  <el-dialog :visible.sync="visible" :title="!dataForm.id ? $t('add') : $t('update')" :close-on-click-modal="false" :close-on-press-escape="false">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()" :label-width="$i18n.locale === 'en-US' ? '120px' : '80px'">
          <el-form-item label="微信(用户唯一标识 OpenID)" prop="openId">
          <el-input v-model="dataForm.openId" placeholder="微信(用户唯一标识 OpenID)"></el-input>
      </el-form-item>
          <el-form-item label="昵称" prop="username">
          <el-input v-model="dataForm.username" placeholder="昵称"></el-input>
      </el-form-item>
          <el-form-item label="密码" prop="password">
          <el-input v-model="dataForm.password" placeholder="密码"></el-input>
      </el-form-item>
          <el-form-item label="手机号" prop="phone">
          <el-input v-model="dataForm.phone" placeholder="手机号"></el-input>
      </el-form-item>
          <el-form-item label="性别" prop="gender">
          <el-input v-model="dataForm.gender" placeholder="性别"></el-input>
      </el-form-item>
          <el-form-item label="头像" prop="headPortrait">
          <el-input v-model="dataForm.headPortrait" placeholder="头像"></el-input>
      </el-form-item>
          <el-form-item label="地区" prop="regional">
          <el-input v-model="dataForm.regional" placeholder="地区"></el-input>
      </el-form-item>
          <el-form-item label="详细地址" prop="detailedAddress">
          <el-input v-model="dataForm.detailedAddress" placeholder="详细地址"></el-input>
      </el-form-item>
          <el-form-item label="语录" prop="quotations">
          <el-input v-model="dataForm.quotations" placeholder="语录"></el-input>
      </el-form-item>
          <el-form-item label="本周签到状态" prop="signIn">
          <el-input v-model="dataForm.signIn" placeholder="本周签到状态"></el-input>
      </el-form-item>
          <el-form-item label="签到总天数" prop="signInNum">
          <el-input v-model="dataForm.signInNum" placeholder="签到总天数"></el-input>
      </el-form-item>
          <el-form-item label="更新者" prop="updater">
          <el-input v-model="dataForm.updater" placeholder="更新者"></el-input>
      </el-form-item>
          <el-form-item label="更新时间" prop="updateDate">
          <el-input v-model="dataForm.updateDate" placeholder="更新时间"></el-input>
      </el-form-item>
          </el-form>
    <template slot="footer">
      <el-button @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button type="primary" @click="dataFormSubmitHandle()">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>

<script>
import debounce from 'lodash/debounce'
export default {
  data () {
    return {
      visible: false,
      dataForm: {
        id: '',
        openId: '',
        username: '',
        password: '',
        phone: '',
        gender: '',
        headPortrait: '',
        regional: '',
        detailedAddress: '',
        quotations: '',
        signIn: '',
        signInNum: '',
        updater: '',
        updateDate: '',
        creator: '',
        createDate: ''
      }
    }
  },
  computed: {
    dataRule () {
      return {
        openId: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        username: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        password: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        phone: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        gender: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        headPortrait: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        regional: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        detailedAddress: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        quotations: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        signIn: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        signInNum: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updater: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        updateDate: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
      }
    }
  },
  methods: {
    init () {
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo () {
      this.$http.get(`/boby_book/user/${this.dataForm.id}`).then(({ data: res }) => {
        if (res.code !== 0) {
          return this.$message.error(res.msg)
        }
        this.dataForm = {
          ...this.dataForm,
          ...res.data
        }
      }).catch(() => {})
    },
    // 表单提交
    dataFormSubmitHandle: debounce(function () {
      this.$refs['dataForm'].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$http[!this.dataForm.id ? 'post' : 'put']('/boby_book/user/', this.dataForm).then(({ data: res }) => {
          if (res.code !== 0) {
            return this.$message.error(res.msg)
          }
          this.$message({
            message: this.$t('prompt.success'),
            type: 'success',
            duration: 500,
            onClose: () => {
              this.visible = false
              this.$emit('refreshDataList')
            }
          })
        }).catch(() => {})
      })
    }, 1000, { 'leading': true, 'trailing': false })
  }
}
</script>
